!/bin/bash
# The script will fail at the first error encountered
set -e


mysql -uroot <<MYSQL_SCRIPT
CREATE DATABASE {{database}};
CREATE USER '{{user}}'@'%' IDENTIFIED BY '{{pass}}';
CREATE USER '{{user}}'@'localhost' IDENTIFIED BY '{{pass}}';
GRANT ALL PRIVILEGES ON *.* TO '{{user}}'@'%';
GRANT ALL PRIVILEGES ON *.* TO '{{user}}'@'localhost';
FLUSH PRIVILEGES;
MYSQL_SCRIPT
